Repository spicetify/cli, pull requests merged in 2024-03, with the labels that each got.

#2871 fix: use correct url to spotify & fix netease
  CustomApps/lyrics-plus/ProviderNetease.js
  CustomApps/lyrics-plus/Providers.js
  Extensions/popupLyrics.js
Labels: 🔴 custom app, 🔵 extension

#2864 feat: change the name of `main-noConnection`
  css-map.json
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2873 fix(preprocess): add new regex for GraphQL defs for >=`1.2.31`
  jsHelper/spicetifyWrapper.js
  src/preprocess/preprocess.go
Labels: core

#2875 chore: remove information of supported spotify ver
  CustomApps/lyrics-plus/index.js
  src/apply/apply.go
  src/cmd/apply.go
  src/cmd/cmd.go
Labels: core

#2884 feat: parse more types of responses
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2885 fix(wrapper): assign `Player.data` in cache after becoming available
  CustomApps/lyrics-plus/OptionsMenu.js
  CustomApps/lyrics-plus/ProviderNetease.js
  CustomApps/lyrics-plus/Settings.js
  CustomApps/lyrics-plus/TabBar.js
  CustomApps/lyrics-plus/index.js
  CustomApps/new-releases/index.js
  CustomApps/reddit/TabBar.js
  Extensions/popupLyrics.js
  Extensions/webnowplaying.js
  biome.json
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2882 fix(lyrics-plus): prevent re-rendering `TabBar` frequently
  CustomApps/lyrics-plus/Settings.js
  CustomApps/lyrics-plus/TabBar.js
  CustomApps/lyrics-plus/index.js
Labels: 🔴 custom app

#2886 fix(extensions): migrate to react menuItems
  Extensions/bookmark.js
  Extensions/loopyLoop.js
Labels: 🔵 extension

#2879 fix(topbar): match spotify styling
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2893 fix(wrapper/topbar): apply `main-topBar-button` on button not element
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2892 fix(reddit): use `fetch` instead of `CosmosAsync`
  CustomApps/reddit/index.js
Labels: 🔴 custom app

#2894 fix: implement missing class for cards for `1.2.33` and higher
  src/backup/backup.go
  src/preprocess/preprocess.go
Labels: core

#2898 fix: disable sentry completely
  src/preprocess/preprocess.go
Labels: core

#2899 fix: properly set every value in state
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2888 fix: repair helpers to work on newer versions
  jsHelper/homeConfig.js
  jsHelper/sidebarConfig.js
Labels: core, wrapper

#2897 fix(homeConfig): support all versions
  jsHelper/homeConfig.js
  jsHelper/sidebarConfig.js
  src/apply/apply.go
Labels: core, wrapper

#2902 fix(styledClassName): add another key and exclude one
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2905 fix(wrapper/MenuItem): set `isEnabled` not `_isEnabled`
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2908 fix(lyrics-plus): access props when copying translated lyrics
  CustomApps/lyrics-plus/Pages.js
Labels: 🔴 custom app

#2911 feat: add support for new global navbar
  css-map.json
  jsHelper/expFeatures.js
  jsHelper/spicetifyWrapper.js
  src/apply/apply.go
  src/utils/utils.go
Labels: core, wrapper

#2912 fix(NavLinkSidebar): use `TextComponent`, not `TextWrapper`
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2916 feat(config): add another folder to `potentialList`
  CustomApps/lyrics-plus/TabBar.js
  CustomApps/new-releases/Card.js
  CustomApps/reddit/TabBar.js
  biome.json
  src/utils/config.go
Labels: 🔴 custom app, core

#2913 fix: make various changes to global navbar
  css-map.json
  jsHelper/spicetifyWrapper.js
  src/apply/apply.go
  src/preprocess/preprocess.go
Labels: core, wrapper

#2923 feat(shuffle+): add an option to shuffle queue
  Extensions/shuffle+.js
Labels: 🔵 extension

#2922 feat: add support for pre-Library X UI again
  CustomApps/lyrics-plus/TabBar.js
  CustomApps/reddit/TabBar.js
  CustomApps/reddit/index.js
  jsHelper/spicetifyWrapper.js
  src/apply/apply.go
Labels: 🔴 custom app, core, wrapper

#2926 fix(wrapper): adapt `checkForUpdate` to new changelog
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2927 feat(navlink): match spotify style & use `SeekToCloseParen`
  jsHelper/spicetifyWrapper.js
  src/apply/apply.go
Labels: core, wrapper
