Repository spicetify/cli, pull requests merged in 2024-04, with the labels that each got.

#2948 fix: do not replace color variables in mini player css
  src/preprocess/preprocess.go
Labels: core

#2940 fix(new-releases): update `viewportSelector` for `1.2.34` and higher
  CustomApps/new-releases/index.js
Labels: 🔴 custom app

#2942 fix(wrapper/cards): change hook for `Default` card component
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2952 feat(cmd/update): add support for `arm64`
  src/cmd/update.go
Labels: core

#2958 fix: adapt regexes for `1.2.35`
  jsHelper/spicetifyWrapper.js
  src/apply/apply.go
  src/preprocess/preprocess.go
  src/utils/utils.go
Labels: core, wrapper

#2962 fix(getStyledClassName): add `$semanticColor` to included keys
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2961 fix(lyrics-plus): add second selector for viewport
  CustomApps/lyrics-plus/index.js
Labels: 🔴 custom app

#2963 fix(config): check for duplicates when adding multiple values
  jsHelper/spicetifyWrapper.js
  src/apply/apply.go
  src/cmd/config.go
Labels: core, wrapper

#2978 fix(css-map): add missing classes across the client
  css-map.json
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2979 fix(getStyledClassName): remove `$` from `childrenProps`
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2981 fix(getStyledClassName): add `paddingBottom` back to `customExactKeys`
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2984 fix(lyrics-plus): force assign `currentLyrics` for cache
  CustomApps/lyrics-plus/index.js
Labels: 🔴 custom app

#2990 feat(wrapper/cards): re-add "Default" as `FeatureCard`
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2986 chore(wrapper): remove additional graphql getters
  globals.d.ts
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#2983 fix(translator): force setting `currentLyrics` on cache hit
  CustomApps/lyrics-plus/index.js
Labels: 🔴 custom app
