Repository spicetify/cli, pull requests merged in 2024-05, with the labels that each got.

#2996 fix(wrapper): revert `CardImage` component
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#3001 fix(shuffle+): lower limit & bring back `queryArtistOverview`
  Extensions/shuffle+.js
Labels: 🔵 extension

#3011 fix(wrapper/platform): assign product state to old prop
  jsHelper/spicetifyWrapper.js
Labels: wrapper

#3019 fix(keyboardShortcut): correctly call functions for volume
  Extensions/keyboardShortcut.js
Labels: 🔵 extension

#3033 feat: drop `spicetify-` from name & move to `main`
  .gitignore
  CONTRIBUTING.md
  README.md
  biome.json
  go.mod
  install.ps1
  install.sh
  jsHelper/spicetifyWrapper.js
  spicetify.go
  src/apply/apply.go
  src/backup/backup.go
  src/cmd/apply.go
  src/cmd/auto.go
  src/cmd/backup.go
  src/cmd/cmd.go
  src/cmd/color.go
  src/cmd/config-dir.go
  src/cmd/config.go
  src/cmd/devtools.go
  src/cmd/patch.go
  src/cmd/path.go
  src/cmd/update.go
  src/cmd/watch.go
  src/preprocess/preprocess.go
  src/status/backup/backup.go
  src/utils/vcs.go
Labels: core, wrapper

#3035 fix(keyboard-shortcut): some shortcuts that stopped working
  Extensions/keyboardShortcut.js
Labels: 🔵 extension

#3040 fix(wrapper): exclude string to find module on `1.2.38`
  jsHelper/spicetifyWrapper.js
Labels: wrapper
